.container {
  background-color: #f5ebe1; /* Легкий фоновый цвет */
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  border-radius: 10px;
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  color: #8C7062;
  padding-bottom: 3%;
}

.form {
  display: flex;
  flex-direction: column;
  color: #4d4136 !important;
  border-color: #4d4136 !important;
  
}

.input {
  margin-bottom: 1rem;
  color: #4d4136 !important;
  border-color: #4d4136 !important;
}
.input:active {
  color: #4d4136 !important;
  outline: none !important;  
  border-color: #4d4136 !important;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 5%;
  color: #4d4136;

}

.registerButton {
  padding: 0.8rem;
  color: #4d4136 !important;
  border-color: #E3D5CA !important;
  background-color: #E3D5CA !important;
  &:hover {
    color: #4d4136;
    border-color: #4d4136;

    background-color: #e5cfb8;
    background-color: #f5ebe1; /* Легкий фоновый цвет */
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
  }
  
  .title {
    font-size: 1rem;
    font-weight: bold;
    color: #8C7062;
    padding-bottom: 3%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    color: #4d4136 !important;
    border-color: #4d4136 !important;
    
  }

  .input {
    margin-bottom: 1rem;
    color: #4d4136 !important;
    border-color: #4d4136 !important;
  }
  .input:active {
    color: #4d4136 !important;
    outline: none !important;  
    border-color: #4d4136 !important;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 5%;
    color: #4d4136;

  }
  
  .registerButton {
    padding: 0.8rem;
    color: #4d4136 !important;
    border-color: #E3D5CA !important;
    background-color: #E3D5CA !important;
    &:hover {
      color: #4d4136;
      border-color: #4d4136;

      background-color: #e5cfb8;
    }
  }
}
