.container {
    background-color: #f5ebe1; /* Легкий фоновый цвет */
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
  }
  
  .title {
    font-size: 1rem;
    font-weight: bold;
    color: #8C7062;
    margin-bottom: 3rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    background-color: #fff;
    margin-bottom: 1rem;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .submitButton {
    background-color: #e5cfb8;
    color: #4d4136;
    padding: 0.8rem;
    &:hover {
      background-color: #d4b899;
    }
  }
  
  .registerButton {
    background-color: #fff;
    color: #4d4136;
    padding: 0.8rem;
    border: 1px solid #e5cfb8;
    &:hover {
      background-color: #e5cfb8;
    }
  }
  