/*Search block*/
.searchBox {
    border: none;
    max-width: 400px;
    padding-left: 20px;
}
  
.searchTitle {
    font-size: 25pt;
    color: #4D4136;
    margin-bottom: 15px;
    text-align: left;
}
  
.searchContainer {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #f5ebe1; /* Цвет фона строки поиска */
    padding: 5px 10px;
}
  
.searchInput {
    border: none;
    background: transparent;
    font-size: 16px;
    color: #CCB7A3;
    outline: none;
    flex: 1; /* занимаем оставшееся пр-во*/
}
  
.searchButton {
    border: none;
    background-color: #e3cfba;
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
}
  
::placeholder{
    color: #CCB7A3;
}
  
.searchIcon {
    height: 20px;
}

.img {
    position: absolute;
    right: 0;
    width: 35%;
    height: auto;
    opacity: 0.6;
}