.container {
    color: #4F3427;
    margin-bottom: 7.5px; 
}

.topperTitle {
    font-size: 300%; 
    text-align: left;
    font-weight: bold;
    color: #4F3427;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 10%;
}

.ProfileContainer{
    background-color: #f5ebe1; /* Легкий фоновый цвет */
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-radius: 15px;
    margin: 50px auto;
    text-align: center;
}