.container {
  background-color: #F5EBE2;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  border-radius: 10px;
  max-width: 30%;
  margin: 5% auto;
  text-align: center;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #8C7062;
  padding-bottom: 3%;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  color: #AF9284;
  margin-bottom: 1rem;
}

.buttons {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submitButton {
  color: #4d4136 !important;
  border-color: #e5cfb8 !important;
  background-color: #D2BEB3 !important;
  &:hover {
    color: #4d4136;
    border-color: #4d4136;

    background-color: #e5cfb8;
  }
}

.registerButton {
  color: #4d4136 !important;
  border-color: #e5cfb8 !important;
  background-color: #E3D5CA !important;
  &:hover {
    color: #4d4136;
    border-color: #4d4136;

    background-color: #e5cfb8;
  }
}
